
<div id="leftPane">
    <img src="assets/img/site/logoEventum.png" alt="logo" id="logo">

    <ul class="navBar">
        <li class="nav-item">
            <a class="nav-link"  routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/addIcon.png" class="icon" alt="arrow" id="arrow">
            <a class="nave-link" routerLink="/add">Ajouter</a>
        </li>
        <li class="nav-item">
            <a class="nave-link" routerLink="/agenda">Agenda</a>
        </li>
        <li class="nav-item">
            <a class="nave-link" routerLink="/pageNotifications">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nave-link" routerLink="/pageMessages">Messages</a>
        </li>
        <li class="nav-item">
            <a class="nave-link" routerLink="/pageProfil">Profil</a>
        </li>
    </ul>
</div>
