/* Style de la barre de navigation */

/* Container bar de navigation */
/* Taille du coté gauche */

#leftPane{
  /* margin-top: 50px; */
  /* margin-left: 0px; */

  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid var(--purple-1);
  background: var(--color1);

}

@media screen and (max-width: 1200px) {
  #leftPane {
      width: 100px;
  }
}

/* Style contenu */

.sidebar {
  display: flex;
  flex-direction: column;
  
  /* width: 100%; */
  
  padding: 40px 0;
}  

.logo{
  align-self: center;
}

.logo:hover{
  scale: 1.1;
}

.links{
  margin-top: 20px; 
  padding: 0px;
  
  /* align-self: center; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  background-color: #ffffff;
  width: 100%;
}

.links li{
  margin : 10px;
  /* margin-bottom: 0px; */
  /* margin-left: 40px; */
}

.links a{
  
  padding: 10px;
  
  padding-left: 40px;

  display: flex;
  
}

.links a:hover{
  background-color: var(--purple-0);
  border-radius: 30px;
}

.links .nav-icon svg{
  /* display: block; */
  vertical-align: middle;

  /* border : 1px solid #352f2f8a; */
}

.links .nav-text{
  margin-top: 3px;
  margin-left: 10px;
}


/* Contenu bar de navigation */

@media screen and (max-width: 1200px) {
    
  .links .nav-text{
      display: none;
      /* width: 0; */
  }

  .links{
      align-self: center;
  }

  .links a{
      padding: 5px;

      width: 53px;
      height: 53px;

      /* align-self: center; */
      /* padding-left: 10px; */
  }

  .links li{
      
      margin-bottom: 0px;

      margin-left: 10px;
    }

  .links .nav-icon{
      /* vertical-align: middle; */

      display: block;
      margin: auto;
      /* margin-top: 5px; */
      /* padding: 10px; */
  }

  .links a:hover{
      border-radius: 50%;
  }

  .logo img{
      width: 80px;
  }
}