/* Style de la barre de navigation */
.navbar {
  background-color: #ffffff;
  width: 100%;
}
  


ul{
  list-style-type: none;
}

li{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 10px;
  font-size: 22px;
  transition: background-color 0.4s ease;

}

/* Style des liens de la barre de navigation */
.nav-item a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: inline;
}
  
/* Changement de couleur au survol */
.nav-item a:hover {
  background: #ddd;
  color: black;
}

#leftPane{
  margin-top: 50px;
  margin-left: 0px;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  border-right: 1px solid #9E5CA3;
}
  

#logo{
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.icon{
  width: 25px;
  height: 25px;

  display: inline;
}