
<div id="leftPane">
    <img src="assets/img/site/logoEventum.png" alt="logo" id="logo">

    <ul class="navBar">
        <li class="nav-item">
            <img src="assets/img/site/houseIcon.png" class="icon" alt="home" id="home">
            <a class="nav-link"  routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/addIcon.png" class="icon" alt="arrow" id="arrow">
            <a class="nave-link" routerLink="/add">Ajouter</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/agendaIcon.png" class="icon" alt="agenda" id="agenda">
            <a class="nave-link" routerLink="/agenda">Agenda</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/notifIcon.png" class="icon" alt="Notifications" id="Notifications">
            <a class="nave-link" routerLink="/notifications">Notifications</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/messageIcon.png" class="icon" alt="Messages" id="Messages">
            <a class="nave-link" routerLink="/messages">Messages</a>
        </li>
        <li class="nav-item">
            <img src="assets/img/site/profilIcon.png" class="icon" alt="profil" id="profil">
            <a class="nave-link" routerLink="/profil">Profil</a>
        </li>
    </ul>
</div>