<app-left-pane></app-left-pane>

<div class="central-pane">

    <div class="sticky-position">

    </div>
    <app-search-bar></app-search-bar>

    

    <app-main-event [event]="recommendedEvents[0]" [participantsNumber]="numberParticipants"></app-main-event>

    <app-container-event [events]="recommendedEvents" [title]="'Evenements recommandés'"></app-container-event>
    <app-container-event [events]="categorieEvents_1[1]" [title]="categorieEvents_1[0]"></app-container-event>
    <app-container-event [events]="categorieEvents_2[1]" [title]="categorieEvents_2[0]"></app-container-event>
    <app-container-event [events]="categorieEvents_3[1]" [title]="categorieEvents_3[0]"></app-container-event>

</div>


<app-right-pane></app-right-pane>

<router-outlet></router-outlet>
