
header{
    background: var(--transparent-gray);
    width: 100%;
    height: 60px;
    /* position: absolute; */
    width: calc(100vw - 540px);
    position: fixed;
    top: 0;

    z-index: 3;

    /* border-bottom: 1px solid var(--ligneSection); */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 1200px) {
  header {
    width: calc(100vw - 370px);
  }
}

.search-box{
    background: var(--white-1);
    margin: 10px;

    /* height: 30px;    */
    width: 50%;
    /* width: 55%; */
    min-width: 250px;
    border-radius: 50px;
    padding: 7px 15px 5px 15px;

    border: 1px solid var(--purple-1);
}

.search-btn{
    float: right;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.search-text{
    /* padding: 10px; */
    border: none;
    outline: none;
    background: none;
    float: left;

    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 90%;

}

.theme-color-button{
    padding: 10px;
}

.theme-color-button button{
    border: none;
    outline: none;
    background: var(--white-1);
}
