
.selector-month {
  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: space-around;
  align-items: center;

  margin-top: 30px;
  /* border: 1px solid black; */
  border: 1px solid var(--purple-0);

}

.month {
  width: 100%;
  margin: auto;

  height: 80px;
  /* color: var(--white-0); */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid var(--purple-0); */
}

.change-month {

  background: none;
  border: none;
  width: 100%;
  margin: auto;

  height: 80px;
  /* color: var(--white-0); */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid var(--purple-0); */
}

.change-month svg {
  width: 25px;

  /* border: 1px solid var(--purple-0); */
}

.change-month svg:hover {
  width: 30px;

  /* border: 1px solid var(--purple-0); */
}

.days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}

.days .day {

  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 14.28%;
  height: 100%;
}

.days .day h3 {

  max-width: 100%;

  font-size: 20px;

  /* padding-left: 10px; */
  /* padding-right: 10px; */

}

.days .day .day-content-item {
  background-color: var(--purple-0);
  margin-bottom: 5px;

  width: 95%;
  height: 80px;
  /* margin: auto; */

  /* overflow-y: scroll; */
  overflow: hidden;

  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.days .day .no-day-content-item {

  margin-bottom: 5px;

  width: 95%;
  height: 80px;
  /* margin: auto; */

  border-radius: 10px;
}

.days .day .day-content-item:hover {
  overflow: visible;
  background-color: var(--purple-1);
}


.days .day .day-content-item h5 {
  margin-left: 5px;
}

.days .day .day-content-item .event {

  background-color: var(--purple-2);

  color: var(--white-0);


  width: 90%;
  margin-left: 3px;
  padding-left: 3px;

  font-size: 14px;

  /* margin: auto; */

  border-radius: 10px;
  /* border: 1px solid var(--purple-0); */
}

.days .day .day-content-item svg {
  display: block;
  width: 50px;

  margin: auto;

}

.days .day .day-content-item.contain:hover {
  border: 3px solid var(--purple-2);
}

.selected{
  border: 3px solid var(--purple-2);
}



.days .day .day-content-item.contain {
  background-color: var(--purple-1);
}

@media screen and (max-width: 1000px) {

  .days .day h3 {

    font-size: 14px;

  }


  .days .day .day-content-item {
    height: 8vw;
  }

  

  .days .day .no-day-content-item {

    height: 8vw;
  }

  .days .day .day-content-item .event {
    display: none;

  }

  

  .days .day .day-content-item svg {
    display: block;
    width: 60%;
  }

}


.no-change {
  background: none;
  border: none;
  width: 100%;

  /* color: var(--white-0); */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 1px solid var(--purple-0); */
}

.selector-item-text {
  font-weight: 100;
}

.day-title {
  font-weight: 100;
  margin: 20px 0;
  font-size: 17px!important;
}


