

.selector-month{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    justify-content: space-around;
    align-items: center;

    margin-top: 30px;
    /* border: 1px solid black; */
    border: 1px solid var(--purple-0);

}

.month{
    width: 100%;
    margin: auto;

    height: 80px;
    /* color: var(--white-0); */

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid var(--purple-0); */
}

.change-month{

    background: none;
    border: none;
    width: 100%;
    margin: auto;

    height: 80px;
    /* color: var(--white-0); */

    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid var(--purple-0); */
}

.change-month svg{
    width: 25px;
    
    /* border: 1px solid var(--purple-0); */
}

.change-month svg:hover{
    width: 30px;
    
    /* border: 1px solid var(--purple-0); */
}

.days{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    /* height: 100%; */
    background-color: var(--white-0);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--lightgray-01);
}

.days .day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 14.28%;
    height: 100%;
    border-right: 1px solid var(--lightgray-01);
    /* cursor: pointer; */
}

.days .day h3{
    font-size: 20px;
    margin: 20px 0px;
    
}

.days .day .day-content-item{
    
    background-color: var(--purple-0);
    margin-bottom: 5px;
    

    width: 95%;
    height: 80px;
    /* margin: auto; */

    border-radius: 10px;
    border: 1px solid var(--purple-1);
}

.days .day .day-content-item:hover{

    /* margin: auto; */

    /* border-radius: 20px; */
    border: 3px solid var(--purple-1);

    margin-top: -2px;
    margin-bottom: 4px;

    box-shadow: 0 0 5px var(--lightgray-01);
}

.days .day .day-content-item h5{
    
    margin-left: 5px;
}

.days .day .day-content-item .event{
    
    background-color: var(--purple-1);
    

    width: 95%;
    margin-left: 2px;
    padding-left: 2px;
    
    /* margin: auto; */

    border-radius: 10px;
    border: 1px solid var(--purple-0);
}

@media screen and (max-width: 1000px){
    .days .day .day-content-item .event{
        display: none;
        background-color: var(--purple-1);
        width: 95%;
    }
}
    

