
<div class="selector-month">
        
    <div class="month">
        <h2 class="selector-item-text">{{monthOfYear[selectedMonth]}}</h2>
    </div>
</div>

<section class="days">

    

    <div *ngFor="let day of daysOfWeek" class="day">
        
        
        <h3>{{ day.day }}</h3>

        <div *ngFor="let number of day.number" class="day-content-item">

            
                <h5 *ngIf="number != 0"> {{number}}</h5>

                <div *ngFor="let event of eventOfMonth" class="event">
                    <div *ngIf="getDayOfEvent(event.date) === number" class="">{{event.titre}}</div>
                </div>
            
        </div>
    </div>

</section>
