.input-error {
    border: solid 2px var(--purple-2) !important;
}

.input-error::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    width: 6px;
    height: 6px;
    background-color: var(--purple-2);
    border-radius: 50%;
}