<app-left-pane></app-left-pane>
<div class="central-pane">

  <app-profil-section [connectedUser]="connectedUser" [followed]="followed"
                      [following]="following" [number_events]="[event_create.length, event_participate.length]" [personnal_page]="personnal_page"
                      [user]="user"></app-profil-section>

  <app-profil-content [event_create]="event_create" [event_participate]="event_participate"></app-profil-content>

    <div class="success" *ngIf="successService.getSuccess()">
        <p> Modifications enregistrés avec succès</p>
    </div>

</div>
<app-right-pane></app-right-pane>

<router-outlet></router-outlet>
