

<div class="notification">

    <div [ngSwitch]="true" class="no-change" >

        <div *ngSwitchCase="notif.type_notif == 'notif_mp'" class="notification-content" [routerLink]="'/messages/' + notif.content.id_utilisateur">

            <div class="notif-infos">
              <img src="/assets/{{notif.content.photo_profil}}" width="55px" height="55px" alt="Avatar" class="avatar">

              <h3>{{notif.content.pseudo}} </h3>

              <div>vous a envoyé un nouveau message</div>
            </div>
            <div class="notif-time">
              {{notif.duration}}
            </div>

        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_mpg'" class="notification-content">

            <div>new message</div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_friend'" class="notification-content" [routerLink]="'/profil/' + notif.content.id_utilisateur">

            <div class="notif-infos">
                <img src="/assets/{{notif.content.photo_profil}}" width="55px" height="55px" alt="Avatar" class="avatar">

                <h3>{{notif.content.pseudo}} </h3>

                <div>vous a suivi</div>
            </div>
            <div class="notif-time">
                {{notif.duration}}
            </div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_event'" class="notification-content">

            <div>event change</div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_event_participant'" class="notification-content" [routerLink]="'/event/' + notif.content.id_evenement">


          <div class="notif-infos">

            <h3>{{notif.content.titre}} :</h3>

            <div>vous avez un nouveau participant</div>
          </div>
          <div class="notif-time">
            {{notif.duration}}
          </div>

        </div>

    </div>

</div>
