

<div class="notification" [ngClass]="{viewed: notif.vue == true, noViewed: notif.vue == false }">

    <div [ngSwitch]="true" class="no-change" >

        <div *ngSwitchCase="notif.type_notif == 'notif_mp'" class="notification-content" (click)="viewedNotif()"  [routerLink]="'/messages/' + notif.content.id_utilisateur">

            <div class="notif-infos">
              <img src="/assets/{{notif.content.photo_profil}}" width="55px" height="55px" alt="Avatar" class="avatar">

              <h3>{{notif.content.pseudo}} </h3>

              <div>vous a envoyé {{notif.count}} nouveau message</div>
            </div>
            <div class="notif-time">
              {{notif.duration}}
            </div>

        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_mpg'" class="notification-content">

          <!-- Pas encore implémenté -->
            <div>new message groupe</div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_friend'" class="notification-content" (click)="viewedNotif()" [routerLink]="'/profil/' + notif.content.id_utilisateur">

            <div class="notif-infos">
                <img src="/assets/{{notif.content.photo_profil}}" width="55px" height="55px" alt="Avatar" class="avatar">

                <h3>{{notif.content.pseudo}} </h3>

                <div>vous a suivi</div>
            </div>
            <div class="notif-time">
                {{notif.duration}}
            </div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_change_event'" class="notification-content" (click)="viewedNotif()" [routerLink]="'/event/' + notif.content.id_evenement">

          <div class="notif-infos">
            <img src="/assets/{{notif.content.image}}" width="55px" height="55px" alt="Avatar" class="avatar">

            <h3>{{notif.content.titre}} :</h3>

            <div>a été modifié</div>
          </div>
          <div class="notif-time">
            {{notif.duration}}
          </div>
        </div>

        <div *ngSwitchCase="notif.type_notif == 'notif_event_participant'" class="notification-content" (click)="viewedNotif()" [routerLink]="'/event/' + notif.content.id_evenement">


          <div class="notif-infos">
            <img src="/assets/{{notif.content.image}}" width="55px" height="55px" alt="Avatar" class="avatar">


            <h3>{{notif.content.titre}} :</h3>

            <div>vous avez un nouveau participant</div>
          </div>
          <div class="notif-time">
            {{notif.duration}}
          </div>

        </div>

    </div>

</div>
