

.notification{

    border: 1px solid var(--purple-1);
    width: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--orange-0);

    cursor:pointer;
    
}

.viewed{
  border: none;
 

  background-color: var(--white-0);
}

.no-change{
  width: 100%;
  height: 100%;

}

.notification-content{
    width: 100%;
    height: 100%;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 75px;
}

.noViewed:hover{
  
  background-color: var(--orange-1);
}

.notification-content img{
    border-radius: 50%;
    margin-right: 15px;
}

.notification-content h3{
    margin-right: 10px;
}


.notification-content .notif-infos{

  height: 100%;

  display: flex;

  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding-left: 20px;
}

.notification-content .notif-time{


  padding-right: 20px;
}
