<app-left-pane></app-left-pane>
<div class="central-pane">
    <app-event-section [event]="event" [connectedUser]="connectedUser" 
    [isRegistered]="isRegistered" [numberParticipants]="numberParticipants"></app-event-section>
    <app-forum *ngIf="isRegistered" [event]="event" [connectedUser]="connectedUser" [isRegistered]="isRegistered"></app-forum>
    
    <!-- Confirmation de modification -->
    <div class="success" *ngIf="shareService.getSuccessEvent()">
        <p> Evénement modifié avec succès </p>
    </div>

    <!-- Confirmation d'ajout-->
    <div class="success" *ngIf="shareService.getSuccessAddEvent()">
        <p> Evénement ajouté avec succès </p>
    </div>
</div>

<app-right-pane></app-right-pane>

<router-outlet></router-outlet>
