#rightPane{
    margin-top: 50px;
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 1px solid #9E5CA3;
  }
    
  