.flex-column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.send-message {
  height: 10%;
  background-color: var(--purple-0);
  border-top: 2px solid var(--purple-1);
}

.list-messages {
  height: 80%;
}

.header {
  height: 10%;
  background-color: var(--purple-0);
  border-bottom: 2px solid var(--purple-1);
}
