<app-left-pane></app-left-pane>
<div class="central-pane flex-column">


  <a class="header"  [routerLink]="'/' + link + '/' + id_user_receiver">

    <img src="/assets/{{link_img_user_receiver}}" width="60px" height="60px" alt="Avatar" class="avatar">

    <div class="infos-user">
      <h1 class="userPseudo">{{pseudo_user_receiver}}</h1>
      <p class="userName">{{name_user_receiver}} {{surname_user_receiver}}</p>
    </div>
  </a>


  <div class="list-messages">
    <app-list-message></app-list-message>
  </div>
  <div class="send-message">
    <app-send-message></app-send-message>
  </div>
</div>
<app-right-pane></app-right-pane>
