<app-left-pane></app-left-pane>
<div class="central-pane flex-column">
  <a class="row-user header" >


    <img src="/assets/{{link_img_user_receiver}}" width="80px" height="80px" alt="Avatar" class="avatar">


    <div class="infos-user">
      <p class="userName">{{pseudo_user_receiver}}</p>
      <p class="userName">{{name_user_receiver}} {{surname_user_receiver}}</p>
    </div>


  </a>
  <div class="list-messages">
    <app-list-message></app-list-message>
  </div>
  <div class="send-message">
    <app-send-message></app-send-message>
  </div>
</div>
<app-right-pane></app-right-pane>
