.flex-column {
  display: flex;
  flex-direction: column;

  /* position: relative; */
  height: 100vh;
}





.header {
  height: 80px;
  background-color: var(--purple-00);
  border-bottom: 2px solid var(--purple-1);
  display: flex;
}

.header img{
  border-radius: 50%;
  margin: 10px 25px;
}

/* .row-user:hover{
  background: var(--purple-0);
  border-radius: 10px;
} */

.infos-user{

  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.infos-user p{
  text-align: left;
}

.userPseudo{
  font-size: 20px;
  font-weight: bold;
  /* color: var(--purple-2); */
}

.userName {
  font-size: 15px;

}

.list-messages {
  height: 100%;
  overflow-y: scroll;
}

.send-message {
  height: 100px;
  background-color: var(--purple-00);
  border-top: 2px solid var(--purple-1);

  /* position: absolute;
  bottom: 0; */
}
