
.selector-event{
    display: flex;
    flex-direction: row;
    
    width: 100%;
    justify-content: space-around;
    align-items: center;

    /* border: 1px solid black; */
    
}

.event-selector{
    width: 100%;
    margin: auto;

    height: 50px;
    /* color: var(--white-0); */

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--purple-1);   
} 

.selected{
    margin: -2px;
    border: 3px solid var(--purple-1);
}