<section>

  <div class="selector-event">

    <div #participate (click)="displayParticipateEvent()" class="event-selector">
      <p>Evenements participés</p>
    </div>
    <div #create (click)="displayCreateEvent()" class="event-selector">
      <p>Evenements organisés</p>
    </div>

  </div>

  <app-container-event [events]="selectedEvents"></app-container-event>

  <!-- <div class="container-events">
      <div *ngFor="let event of selectedEvents">
          <app-card-event [event]="event" [id]="event.id_evenement"></app-card-event>
      </div>
  </div> -->

</section>
