
<div class="profil-bar">

    <!-- Affichage ami -->

    

        <img src="/assets/{{user.photo_profil}}" width="255px" height="255px" alt="avatar">

        

    <div class="user-infos">
        <h1>{{user.pseudo}}</h1>

        <p> {{user.prenom}} {{user.nom}}  </p>
       
    
    

    <!-- <img src="../images/avatars/IMG-6438522f4fc787.69435124.jpg"  width="255px" height="255px" alt="avatar"> -->

    
        
        <!-- Si nous sommes sur notr profil -->

        <!-- <div class="profil-button">

            <button id="amis-button" class="ecart-button">Amis</button>

            <button id="modify-button" class="ecart-button">Modifier</button>
            
            <form action="./logout.php" method="POST">
                
                <button type="submit">Se déconnecter</button>
                
            </form>
        </div> -->

        <!-- Si nous sommes sur un autre profil ami -->
        
                <div class="profil-button">
                    
                    <!-- Bouton contact envoie vers la messagerie -->
                    <form action="./messagerie.php" class="ecart-button" method="post">
                        <input type="hidden" id="pseudo_ami" name="pseudo_ami" value="<?php echo $row['pseudo']; ?>">
                        <button type="submit" name="contact_ami" id="contact_ami"> Contacter</button>
                    </form>

                    <!-- Bouton pour retirer ami -->

                    <form action="" method="post">
                        <input type="hidden" name="id_ami" value="<?php echo $id_ami; ?>">
                        <button type="submit"  name="retire_ami"> Retirer</button>
                    </form>

                </div>
                
        <!-- Si nous sommes sur un autre profil non ami -->

                <!-- <div class="profil-button">

                    <form action="" method="post">
                        <input type="hidden" name="id_ami" value="<?php echo $id_ami; ?>">
                        <button type="submit" name="accept_ami" id="accept_ami"> Accepter</button>
                    </form>
                </div> -->
                    
        <!-- Si nous avons déjà envoyé une demande d'ami -->

                <!-- <div class="profil-button">

                    <form action="" method="post">
                        <input type="hidden" name="id_ami" value="<?php echo $id_ami; ?>">
                        <button type="submit" name="ajout_ami" id="ajout_ami"> Ajouter</button>
                    </form>
                </div> -->
            </div>
    
</div>