.card-event {

  background: var(--purple-1);
  width: 200px;
  height: 258px;
  border-radius: 20px;
  margin: 20px;
  color: white;
  padding: 10px 0 0 0;
  border: none;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
}

.title {
  padding-top: 10px;
}

.card-event img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  transition: height 0.3s ease-in-out;
  border-radius: 10px;
}

.card-event .event-infos {
  height: 100%;
  width:100%;
  box-sizing: border-box;
  transform: translateY(0%);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card-event:hover .event-infos {
  transform: translateY(0);
  background-color: var(--gray-card);
}
.card-event:hover {
  transform: translateY(0) scale(1.1);
}
.card-event:hover img {
  width: 180px;
  height: 120px;
  object-fit: cover;
}


/* .event-infos h3, p{
    color: var(--black);
} */

.event-infos h3 {
  width: 100%;
  max-height: 30%;
  font-size: 20px;
  font-weight: 600;
  /* border: 1px solid #352f2f8a; */
  /* color: var(--color1); */
}

.event-infos .description {
  max-height: 40%;
  /* border: 1px solid #352f2f8a; */
  /* overflow: scroll; */
  /* text-overflow: ellipsis;  */
}
.more-information {
  margin: 20px;
  font-size: 16px;
}

.second-line {
  text-align: left;
  display: block;
}

.last-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emplacement {
  font-size: 18px;
}
