<div [routerLink]="'/event/' + id">
  <button class="card-event" type="submit">
    <div *ngIf="event.image != null">
      <img alt="" alt="Image de l'événement" height="100px" src="/assets/{{event.image}}" width="180px">

    </div>
    <div class="event-infos">
      <h3 class = "title">{{event.titre}}</h3>
      <div class="more-information">
        <div class = "second-line">
          <p>{{event.date}}</p>
        </div>
        <div class="last-line">
          <p>{{event.heure}}</p>
          <p class = "emplacement">{{event.lieu}}</p>
        </div>
      </div>

    </div>
  </button>
</div>
