

<div [routerLink]="'/event/' + id">
    <button type="submit" class="card-event">
        
        <div class="event-infos">

            <div *ngIf="event.image != null; else no_image">
                <img src="/assets/{{event.image}}" alt="" width="180px" height="100px" alt="Image de l'événement">
                <h3>{{event.titre}}</h3>

            </div>
            <ng-template #no_image> 
                
                <h3>{{event.titre}}</h3>
                <p>{{event.description}}</p>
            </ng-template>

            <p>{{event.date}}</p>
            <p>{{event.heure}}</p>
            <p>{{event.lieu}}</p>
            
        </div>

    </button>
</div>