<div [routerLink]="'/event/' + id">
  <button class="card-event" type="submit">

    <div class="event-infos">

      <div *ngIf="event.image != null; else no_image">
        <img alt="" alt="Image de l'événement" height="100px" src="/assets/{{event.image}}" width="180px">
        <h3>{{event.titre}}</h3>

      </div>
      <ng-template #no_image>

        <h3>{{event.titre}}</h3>
        <p>{{event.description}}</p>
      </ng-template>

      <p>{{event.date}}</p>
      <p>{{event.heure}}</p>
      <p>{{event.lieu}}</p>

    </div>
  </button>
</div>
