

/* affichage des messages */


.message{
  color: var(--black);
  margin: 5px 10px;
  padding: 10px;
  border-radius: 10px;
  /* background: var(--lightgray-0); */
  text-align: left;
  font-size: 20px;
}


.left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.left .message{
  background: var(--lightgray-0);
}


.right .message{
  background: var(--blue-00);
}