
<div class = "container">
  <div class = "left-panel">
    <img src="assets/images/site/eventum_white.svg" alt="Logo">
  </div>
  <div class = "right-panel">
    <h1>Bienvenue sur Eventum</h1>
    <h2>Le réseau social ultime pour l'organisation et la participation d'événements</h2>
    <div class = "buttons">
      <button class="button big" (click)="onRegister()">Inscription</button>
      <button class="button big inverse" (click)="onLogin()">Connexion</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
