

.d-flex{
  display: flex;
  flex-direction: row;
}

section{
  border-right: 1px solid var(--purple-1);
  border-left: 1px solid var(--purple-1);
  text-align: center;
}

section h2{
  margin: 10px;
}

.message-form{

  min-width: 300px;
  margin: 15px 0;

  display: flex;
  justify-content: center;
}

.message-form textarea{
  color: var(--black);
  width: 70%;
  min-width: 300px;
  height: 50px;
  /* border: none; */
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--purple-1);

  background: var(--white-1);
  resize: none;
}

.message-form button{

  height: 40%;

  /* border: 1px solid #ccc; */
  background: none;
  border: none;

  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.message-form .input-file{
  display : none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {

  height: 40%;

  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.popup {
  position: absolute;
  top: -300px;
  right: -300px;
  background-color: var(--purple-0);
  border: 2px solid var(--purple-1);

}

.relative {
  position: relative;
}

.close {
  float: right;
  cursor: pointer;
}

.border {
  border: 1px solid black;
  border-radius: 10%;
  background-color: var(--purple-1);
}
