

.d-flex{
  display: flex;
  flex-direction: row;
}

section{
  text-align: center;
}

section h2{
  margin: 10px;
}

.message-form{

  min-width: 300px;
  margin: 15px 0;

  display: flex;
  justify-content: center;
}

.message-form textarea{
  color: var(--black);
  width: 70%;
  min-width: 300px;
  height: 50px;
  /* border: none; */
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: none;

  background: var(--white-1);
  resize: none;
}

.message-form svg{

  height: 40%;

  /* border: 1px solid #ccc; */
  background: none;
  border: none;

  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.message-form .input-file{
  display : none;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {

  height: 40%;

  /* border: 1px solid #ccc; */
  display: inline-block;
  cursor: pointer;
}

.popup {
  position: absolute;
  bottom: calc(100% + 20px);
  background-color: var(--lightgray-purple);
  border-radius: 20px;
  padding: 20px;
}

.showEvent {
  position: absolute;
  bottom: calc(100% + 16px);
  left: 0;

  background-color: var(--purple-1);
  border-top-right-radius: 20px;
  color: var(--lightgray-0);
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}

.close {
  float: right;
  cursor: pointer;
}

.popup p {
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--purple-2);
  font-weight: bold;
}

.button {
  margin-bottom: 10px;
}

.svg2 {
  margin-top: 10px;
  padding: 0 20px;
}

.label svg {
  margin-top: 0;
}

.svg {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  fill: var(--lightgray-0);
}
