/* Page événements */

.page-event{
    display: flex;
    flex-direction: column;
    
    /* height: 60%; */
    width: 100%;
    /* border: 1px solid red; */
}

.page-event .event-header{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background-attachment: fixed;  */
    
    height: 300px;

    top: 0;
}

.page-event .event-header .event-buttons{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    /* border: 1px solid red; */
}

.page-event .infos-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}


.page-event .event .ecart{
    
    margin: 10px 0;
    /* border: 1px solid #352f2f8a; */
}

.page-event .event .createur{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    /* border: 1px solid #352f2f8a; */
}

.page-event .event .buttons{
    
    margin: 10px;

    display: flex;
    flex-direction: row;
}





.page-event .event-infos{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;

    border: 1px solid var(--purple-0);
}

.page-event .event-infos .info{

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white-0);

    border: 1px solid var(--purple-0);
}

.description{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10px;
    padding-bottom: 10px;
}

.purple-0{
    background: var(--purple-0);
}

.purple-1{
    background: var(--purple-1);
    color: var(--white-0);
}

.purple-2{
    background: var(--purple-2);
    color: var(--white-0);
}