<div class="page-event">

  <div [ngStyle]="{'background-image': 'url(/assets/' + event.image + ')'}" class="event-header">

    <div class="event-buttons">

      <div *ngIf="event.id_createur == connectedUser.id_utilisateur; else no_creator">
        <button class="blue-button middle" (click)="modifier()">Modifier</button>

      </div>
      <ng-template #no_creator>

        <div *ngIf="event.max_participants == null || numberParticipants <= event.max_participants">
            <div *ngIf="isRegistered; else no_registered" >
              <!-- Si utilisateur inscrit -->
                <button class="blue-button middle" (click)="unregisterToEvent()">Se désinscrire</button>
            </div>
        
            <ng-template #no_registered>
                <!-- Si utilisateur non inscrit -->
                <button class="blue-button middle" (click)="registerToEvent()">S'inscrire</button>
            </ng-template>
        </div>

          
          
      </ng-template>
    </div>
  </div>


  <div class="infos-section">

    <h1>{{event.titre}}</h1>

    <table class="event-information">
      
      <tr>
        <th class="blue">{{event.lieu}}</th>
        <th class="blue-light">{{event.date | date: 'd MMMM' }}</th>
        <th class="blue">{{event.heure}}</th>
      </tr>
    </table>

    <div class="description">
      <p>{{event.description}}</p>
      <!-- Si utilisateur non inscrit mais plus de places -->
      <!-- <p>Nombre de participants maximum atteints</p> -->
    </div>

   

  </div>
</div>
