<div class="page-event">

  <div [ngStyle]="{'background-image': 'url(/assets/' + event.image + ')'}" class="event-header">

    <div class="event-buttons">

      <div *ngIf="event.id_createur == connectedUser.id_utilisateur; else no_creator">
        <button class="button middle">Modifier</button>

      </div>
      <ng-template #no_creator>

          <div *ngIf="isRegistered; else no_registered" >
              <!-- Si utilisateur inscrit -->
              <button class="button middle" (click)="unregisterToEvent()">Se désinscrire</button>
          </div>
      
          <ng-template #no_registered>
              <!-- Si utilisateur non inscrit -->
              <button class="button middle" (click)="registerToEvent()">S'inscrire</button>
          </ng-template>
          
      </ng-template>
    </div>
  </div>


  <div class="infos-section">

    <h1>{{event.titre}}</h1>

    <table class="event-information">
      <tr class="blue-border">
        <th>Lieu</th>
        <th>Date</th>
        <th>Heure</th>
      </tr>
      <tr>
        <th class="blue">{{event.lieu}}</th>
        <th class="blue-light">{{event.date}}</th>
        <th class="blue">{{event.heure}}</th>
      </tr>
    </table>

    <div class="description">
      <p>{{event.description}}</p>
      <!-- Si utilisateur non inscrit mais plus de places -->
      <!-- <p>Nombre de participants maximum atteints</p> -->
    </div>

    <div class = "blue-button">N participants</div>

  </div>
</div>
