/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Fira Code Light", sans-serif;
  margin: 0;
}

.button {
  padding: 10px 35px;
  font-size: 25px;
  cursor: pointer;
  background-color: #9E5CA3;
  color: white;
  border: none;
  border-radius: 100px;
}

.middlePane{
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 25%; /* width of the left pane*/
  height: 90vh;
}