
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* You can add global styles to this file, and also import other style files */

:root {

  /* Variable color */

  /* Color white */
  --white-0: #ffffff;
  --white-1: #fcfaff;

  /* Color violet */

  --purple-0: #dcb3df;
  --purple-1: #9E5CA3;
  --purple-2: #621768;
  --purple-3: #3c0444;

  /* Color bleu */
  --blue-0: #86c8f6;
  --blue-1: #5CA4C4;
  --blue-2: #2E6E8E;

  /* Color gray */

  --lightgray-0: #dfdddd;


  --gray-0: #352f2f8a;

  /* Color black */
  --transparent-gray: #333a;
  --transparent-black: #0000008a;
  --black: #000000;
  
}

/* Basic style */

* {
  /* font-family: "Fira Code Light", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Poppins,  Montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black);

  transition: all 0.3s ease-in-out;
}

li {
    list-style: none;
}

/* General class */

/* Central Pane */

.central-pane{
  margin-left: 240px;
  margin-right: 25%;
  
}

@media screen and (max-width: 1200px) {
  .central-pane {
    margin-left: 100px;
  }
}

/* @media screen and (max-width: 600px) {
  .centralPane {
    margin-left: 0px;
  }
} */

/* Button */

.button {
  padding: 10px 35px;
  font-size: 25px;
  cursor: pointer;
  background-color: var(--purple-1);
  color: var(--white-0);
  border: none;
  border-radius: 100px;
}

.middlePane{
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 25%; /* width of the left pane*/
  height: 90vh;
}