
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

/* You can add global styles to this file, and also import other style files */

:root {

  /* Variable color */

  --transparent-white: #ffffff8a;

  /* Color white */
  --white-0: #ffffff;
  --white-1: #fcfaff;

  /* Color orange */
  --orange-00: #fffafa;
  --orange-0: #eed8d8;

  /* Color violet */

  --purple-00: #efd5f0;
  --purple-0: #dcb3df;
  --purple-1: #9E5CA3;
  --purple-2: #621768;
  --purple-3: #3c0444;

  /* Color bleu */
  --blue-00: #d5f0f6;
  --blue-0: #86c8f6;
  --blue-1: #5CA4C4;
  --blue-2: #2E6E8E;

  --blue-event: #669ea9;
  --blue-event-light: #58A6B6;
  --blue-event-dark: #437a88;

  /* Color orange */

  /* --orange-0: #fccbfc; */


  /* Color red */

  --red: #f44336;
  --red-2: #d6312e;


  /* Color gray */

  --lightgray-0: #dfdddd;
  --lightgray-01: #ccc;
  --lightgray-1: #b3b3b3;
  --lightgray-purple: #F3EFF3;

  --gray-0: #352f2f8a;
  --gray-card: #2B192D;
  --gray-event-selector: #9B9B9B;
  --gray-event-selector-selected: #F5F4F5;

  /* Color black */
  --transparent-gray: #333a;
  --transparent-black: #0000008a;
  --black: #000000;

  /* Transparence */
  --transparent-green: #38b00031;
  --transparent-red: #a9267962;
  
}

/* Basic style */

* {
  /* font-family: "Fira Code Light", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Poppins,  Montserrat, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: var(--black);

  transition: all 0.3s ease-in-out;
}

li {
    list-style: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* General class */

/* Central Pane */

.central-pane{
  margin-left: 270px;
  margin-right: 270px;

  position: relative;

  /* height: 100%; */
}

@media screen and (max-width: 1200px) {
  .central-pane {
    margin-left: 100px;
  }
}

/* @media screen and (max-width: 600px) {
  .centralPane {
    margin-left: 0px;
  }
} */

/* Button */

.button, .blue-button {
  cursor: pointer;
  background-color: var(--purple-1);
  color: var(--white-0);
  border: none;
  border-radius: 100px;
  margin-bottom: 20px;
}

.button:hover {
  background: var(--purple-2);
}

.blue-button {
  background: var(--blue-event-light);
}

.blue-button:hover {
  background: var(--blue-event);
}

.inverse{
  background-color: var(--white-0);
  color: var(--purple-1);
  border: 2px solid var(--purple-1);
}

.button.inverse:hover {

  background: var(--purple-1);
  color: var(--white-0);
}

.big{
  padding: 10px 35px;
  font-size: 25px;
}

.middle{
  padding: 5px 20px;
  font-size: 20px;
}

.little{
  padding: 5px 15px;
  font-size: 15px;
}

.middlePane{
  height: 100vh;
  width: 50%;
  position: absolute;
  top: 0;
  left: 25%; /* width of the left pane*/
  height: 90vh;
}

/* Formulaire */
.formulaire {

  background-color: var(--color1);
  /* margin-top: 20px; */
  padding: 40px 60px;
  min-width: 600px;
  max-width: 8%;
  border-radius: 8px;


  /* Centering */
  position: absolute;
  top: 50%;
  left: 25%;
}

.formulaire input:not(.button), textarea, select{
  color: var(--black);
}

.formulaire select{
  flex-direction: column;
  border: solid 1px var(--lightgray-0);
  border-radius: 5px;
  background-color: var(--white-1);
  outline: none;
  width: 80%;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.formulaire select option::selection {
  background-color: var(--purple-2) !important;
  color: black;
}

/* particularités pour evenement */
#modify-event-form .formulaire{
  min-width: 500px;
}

/* #ajout-event .formulaire{
  min-width: 600px;
} */

/* Mise en forme du titre du formulaire */
.formulaire h2 {
  /* color: var(--color2-hover); */
  /* text-align: center; */
  margin-bottom: 30px;
}

/* Mise en forme des saisies dans le formulaire */
.formulaire input:not(.button){
  flex-direction: column;
  border: solid 1px var(--lightgray-0);
  border-radius: 5px;
  background-color: var(--white-1);
  outline: none;
  width: 80%;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.formulaire textarea{
  font-size: 13px;
  flex-direction: column;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  outline: none;
  width: 80%;
  padding: 10px 15px;
  margin-bottom: 15px;
}



/* Ajout d'un effet de relief lorsque l'on a séléctionner un champ input */
.formulaire input:focus {
  box-shadow: 3px 4px #b3b3b3;
}


.formulaire label {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.formulaire label select {
  width: 70%;
}

.exit-button{
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

/*banderole pour annoncer le suggès d'un formulaire*/
.success{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  padding-top: 20px;
  justify-content: center;
  background-color: var(--transparent-green);
  z-index: 20;
  display: flex;
}

.error{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  padding-top: 20px;
  justify-content: center;
  background-color: var(--transparent-red);
  z-index: 20;
  display: flex;
}


.input-error {
  border: solid 2px var(--purple-2) !important;
}


