

<div class="organisateur">
    <h2>Organisateur</h2>

    <a class="row-creator" [routerLink]="'/profil/' + creatorEvent.id_utilisateur">

        <img src="/assets/{{creatorEvent.photo_profil}}" width="65px" height="65px" alt="Avatar" class="avatar">
      
        <div class="infos-user">
          <h3 class="userName">{{creatorEvent.pseudo}}</h3>
      
        </div>
    </a>

    <!-- <app-user-card class="inverse-color" [link]="'profil'" [link_img]="connectedUser.photo_profil" [name]="connectedUser.pseudo" [id]="connectedUser.id_utilisateur"></app-user-card> -->
</div>

<div class="nombre-participant">
    <h3>{{participants.length}} Participants</h3>
</div>

<div *ngFor="let user of participants">

    <div *ngIf="connectedUser.id_utilisateur != user.id_utilisateur">
        <app-user-card [link]="'profil'" [link_img]="user.photo_profil" [name]="user.pseudo" [id]="user.id_utilisateur"></app-user-card>

    </div>
</div>


